html {
    height: 100%;
    width: 100%;
}

body{
    padding: 0px;
    margin: 0px;
    
    width: 100%;
    min-height: 100%;
    height: 100%;
}

#background-image {
    display: flex;
    flex-direction: column;
    
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100% 100%;
}

#background-image *:not(#background-gif) {
    z-index: 4;
}

#background-gif {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    background-repeat: repeat;
    background-size: contain;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 60px;
    gap: 10px;
    
    color: gray;
}

#footer img {
    content: url('../img/github-mark.png');
    cursor: pointer;
    
    height: auto;
    max-width: 24px;
    
    transition: transform .2s ease-in-out;
}

#footer img:hover {
    transform: rotateZ(360deg);
}

#weather-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    width: 100%;
    height: 100%;
    
    padding: 40px;
}

.weather-data {
    display: grid;
    justify-items: center;
    align-items: center;
    
    grid-template-columns: 250px 150px;
    grid-auto-rows: 100px;
    
    margin-top: auto;
}

.weather-data span {
    font-size: 32px;
    font-weight: 500;
    
    color: white;
}

#weather-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    min-height: 200px;
    height: 200px;
    margin-bottom: auto;
    
    box-sizing: border-box;
}

.form-title {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.form {
    display: flex;
    align-items: center;
    
    gap: 10px;
    
    width: auto;
    height: 60px;
}

#form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warning {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

#weather-condition {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    margin-top: auto;
    width: 300px;
    height: 500px;
}

.weather-border {
    /*border-image: linear-gradient(to right, red, purple) 30;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;*/
    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)) padding-box,
                 linear-gradient(to right, red, purple) border-box;
    border-radius: 10px;
    border: 4px solid transparent;
}